= form_for @account_manager, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :screen_name, :class => 'control-label'
    .controls
      = f.text_area :screen_name, :class => 'text_area'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), account_managers_path, :class => 'btn'
