= form_for @news_feed, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_field span5'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), news_feeds_path, :class => 'btn'
